body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  display: flex;
  justify-content: unset!important;
}

.navbar {
  z-index: 999;
}

ul li {
  list-style: none;
}

.links {
  display: flex;
  margin-top: 10px;
}

.link {
  color: #1a2538;
  margin-left: 10px;
  font-size: 14px;
}

.logo-name {
  color: #1a2538;
  margin-left: 40px;
}

@media only screen and (min-width: 1024px) {
  .logo-name {
    margin-left: 0;
  }
}